.caja-principal {
    display: flex;
    background-color: lightgray;
    padding: 10px;
    flex-direction: column-reverse;
    row-gap: 50px;
  }
  
  .caja-principal .item {
    border: 1px solid black;
    background-color: yellow;
    padding: 30px;
  }
  
  .display-flex {
    display: flex;
  }
  