* {
    box-sizing: border-box;
  }

  .flotante {
    float: left;
    width: 25%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }

  .flotante.div1 {
    background-color: aqua;
  }

  .flotante.div2 {
    background-color: beige;
  }

  .flotante.div3 {
    background-color: coral;
  }

  .flotante.div4 {
    background-color: cornflowerblue;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }