.boton-dinamico {
    padding: 0.5em 1em;
    background-color: greenyellow;
    color: black;
    border: 2px solid greenyellow;
    cursor: pointer;
    font-size: 4rem;
  }
  
  .boton-dinamico:hover {
    animation:
      cambio-tamaño 0.2s forwards 0s,
      cambio-color 1.8s forwards 0.2s infinite;
  }
  
  @keyframes cambio-tamaño {
    100% {
      font-size: 6rem;
    }
  }
  
  @keyframes cambio-color {
    50% {
      background-color:  greenyellow;
      color:  black;
    }
    100% {
      background-color: green;
      color: black;
    }
  }
  