.contenedor {
  width: 100px;
  height: 100px;
  background-color: red;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.contenedor:hover {
  opacity: 0;
}
