.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .img-container img {
    width: 100%;
  }

  .titulo_imagen {
    text-align: center;
    font-weight: bold;
  }

  #footer {
    background-color: gray;
    margin-top: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .f-right {
    float: right;
  }

  .f-left {
    float: left;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }