*{
    box-sizing: border-box;
    margin-bottom: 20px;

}

header{
    position: relative;
    background-color:gray;
    padding: 20px;
    color: white;
    width: 100%;
    
}
.column{
    float: left;
    background-color: aqua;
    width:30%;
    padding: 20px;
}


footer{
    clear: both;
    background-color: gray;
    padding: 20px;
    color: white;
}