#container {
  display: grid;
  grid-template-columns: 0fr 1fr;
  direction: rtl; 

}
#container-interior {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
}
.divtexto {
  background-color: coral;
  padding-right: 50px;
}

.div1 {
  padding: 50px;
  background-color: pink;
  grid-column: 1; 
}

.div2 {
  padding: 5px;
  background-color: aqua;
  justify-content: end;

}

