* {
  box-sizing: border-box;
}
.container {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
}

.div1, .div2 {
  padding: 50px;
}

.div1 {
  background-color: pink;
}

.div2 {
  background-color: aqua;
}