div{
    float: right;
    padding: 55px;
}
.div1 {

    background: lightpink;
   
  }
  
  .div2 {
    float: left;
    background: aqua;
  }

  .div3{
    float: left;
    background-color: lightcoral;
  }